#container {
	overflow: hidden;
	width: 100%;
}

body {
	font-family: 'Lato', sans-serif;
	font-weight: 100;
}

.header {
	text-align: center;
	background-color: #F8F8F8;
	padding: 20px;
}

h2 {
	font-size: 14px;
}

/* SIDEBAR VIEW */

#sidebarView {
	border: 0.5px solid #323232;
	margin-top: 20px;
}

#sidebarView > #top {
	padding: 20px;
}

#exampleView {
	border: 0.5px solid #323232;
	margin-top: 20px;
	padding: 20px;
}

#sidebarView > #col-headings {
	background-color: #F8F8F8;
	border-top: 2px solid #323232;
	border-bottom: 2px solid #323232;
}

#sidebarView > #guests p {
	display: inline;
}

#sidebarView > #dishes, #sidebarView > #confirm {
	padding: 20px;
}

/* SELECT DISH VIEW */

#selectDishView {
	border: 0.5px solid #323232;
	border-left: none;
	margin-top: 20px;
}

#selectDishView > #search {
	padding: 20px;
	background-color: #F3F8CA;
	border-bottom: 0.5px solid #323232;
}

#selectDishView > #search > h2 {
	text-transform: uppercase;
}

#selectDishView > #showSearchResults {
	padding: 40px 20px 20px 20px;
}

#selectDishView .image-box {
	border: 0.5px solid #323232;
	margin: 10px;
	display: inline-block;
	height: 130px;
	width: 130px;
	overflow: hidden;
}

#selectDishView .image-box .desc {
	padding-top: 20px;
	background-color: #F8F8F8;
}


