
<div id="top">
	<div class="row">
		<h2>My Dinner</h2>
	</div>

	<div class="row" id="guests">
		<p>People: <span id="numberOfGuests"></span></p>
		<button id="minusGuest" class="btn btn-primary"><span class="glyphicon glyphicon-minus"></span></button>
		<button id="plusGuest" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span></button>
	</div>

</div>

<div class="row" id="col-headings">
	<div class="col-xs-6">
		<h2>Dish Name</h2>
	</div>

	<div class="col-xs-6">
		<h2>Cost</h2>
	</div>
</div>

<div class="row" id="dishes">
</div>

<div class="row" id="confirm">
	<button id="confirmDinner" class="btn btn-primary">Confirm dinner</button>
</div>
