<ng-include src="'partials/back-edit.html'" ng-controller="editCtrl"></ng-include>

<div id="dinnerView" class="col-xs-12">

        <div class="row" id="dinnerDishes">
            <div>
                <div class="col-md-3" id="dish" ng-repeat="dish in getFullMenu()">
                    <div class="image-box dish">
                        <a ng-href="#/dish/{{dish.RecipeID}}">
                            <img ng-src="{{dish.ImageURL}}"/>
                        </a>
                        <div class='desc'>
                            <p>
                                {{dish.Title.substring(0,15)}}
                                <span ng-if="dish.Title.length > 15">...</span>
                            </p>
                        </div>
                    </div>
                    <p class="cost">
                        {{getTotalDishPrice(dish)}} SEK
                    </p>
                </div>
                <div id="totalCost" class="col-md-3">
                    <p>Total:</p><p class="cost">{{getTotalMenuPrice()}} SEK</p>
                </div>
            </div>
        </div>

    <div class="row">
        <hr>
        <div class="col-md-12">
            <center><a id="printFullRecipe" href="#/instructions" class="btn btn-primary">Print Full Recipe</a></center>
        </div>
    </div>

</div>