<!-- We include the sidebar as it is shared across two screens. -->
<ng-include src="'partials/dinner-sidebar.html'" ng-controller="DinnerCtrl"></ng-include>

<!-- TODO in Lab 5: Display the input box for search (you can ignore the type dropdown since BigOven does
not support it in free version) and list all the dishes that match the search. -->

<div id="selectDishView" class="col-xs-9">

    <div class="row" id="search">
        <h2>Select Dish</h2>
        <div class="col-md-6">
            <div class="input-group">

                <input class="form-control" ng-model="query"/>
                <span class="input-group-btn">
                    <button class="btn btn-default" ng-click="search(query, dishType)">Search</button>
                </span>


            </div>
        </div>

        <div class="col-md-6">
            <div class="btn-group">
                <select ng-model="dishType" class="form-control" id="dishTypeSelection" ng-change="search(query, dishType)">
                    <option ng-repeat="type in types">
                        {{type}}
                    </option>
                </select>
            </div>
        </div>

    </div>

    <div class="row" id="showSearchResults">
        {{status}}
            <div ng-repeat="dish in dishes">
                <div class="col-md-3">
                    <div class="image-box dish">
                        <a ng-href="#/dish/{{dish.RecipeID}}">
                            <img ng-src="{{dish.ImageURL}}"/>
                        </a>
                        <div class='desc'>
                            <p>
                                {{dish.Title.substring(0,15)}}
                                <span ng-if="dish.Title.length > 15">...</span>
                            </p>
                        </div>
                    </div>
                    <p ng-if="dish.Description != undefined">
                        {{dish.Description.substring(0,90)}}
                        <span ng-if="dish.Description.length > 90">...</span>
                    </p>
                </div>
            </div>
    </div>

</div>