
<div class="row" id="search">
	<h2>Select Dish</h2>
	<div class="col-md-6">
		<div class="input-group">
			<input type="text" class="form-control" placeholder="Enter key words">
			<span class="input-group-btn">
				<button class="btn btn-default" type="button">Search</button>
			</span>
		</div>
	</div>

	<div class="col-md-6">
		<div class="btn-group">
			<button type="button" class="btn btn-default" aria-haspopup="true" aria-expanded="false">
				<span id="dishType"></span> <span class="caret"></span>
			</button>
		</div>
	</div>

</div>

<div class="row" id="showSearchResults"></div>
